<div class="card mt-3">
  <div class="card-body d-flex justify-content-center">
    <ul class="nav nav-pills">
      <li>
        <label class="border-info bg-primary text-white me-2 p-2">Pages : {{getTotalPages()}}</label>
        <label class="border-info bg-info text-white me-2 p-2">Page size : {{getPageSize()}}</label>
        <label class="border-info bg-success text-white me-2 p-2">Page promotion on : {{getPageTotalPromotionTrue()}}</label>
        <label class="border-info bg-danger text-white me-2 p-2">Pages promotion off : {{getPageTotalPromotionFalse()}}</label>
      </li>
    </ul>
  </div>
</div>
